@charset "ISO-8859-1";
.images {
    background-color: #141414;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
}
.images h1 {
    color: #fff;
    margin-bottom: 5rem;
    font-size: 2rem;
}
.images__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.images__card {
    margin: 1rem;
    height: 400px;
    width: 1300px;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%,
        rgba(17, 17, 17, 0.6) 250px), url("https://wallpaperaccess.com/full/7505329.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    color: #fff;
}

.center{
	text-align:center;
}
.images__card1 {
    margin: 1rem;
    height: 400px;
    width: 1300px;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%,
        rgba(17, 17, 17, 0.6) 250px), url("https://wallpaperaccess.com/full/1844101.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    color: #fff;
}
.images__card2 {
    margin: 1rem;
    height: 400px;
    width: 1300px;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%,
        rgba(17, 17, 17, 0.6) 250px), url("https://images.pexels.com/photos/8742541/pexels-photo-8742541.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    color: #fff;
}